/*general settings*/

*{
	padding: 0;
	margin: 0;
}
html,body{
	margin: 0;
	padding: 0;
}

/*first div*/

.header-title{
	text-align: center;
	background: #79a4d2;
	color: #fff;
	font-size: 14px;
	padding: 4px 0;
}


/*second div*/

#search{
	background: green;
	color: #fff;
	font-size: 12px;
	padding: 2px 2px;
	margin-left: 12px;
}

#refresh{
	background: #eaeae1;
	color: #333;
	font-size: 12px;
	padding: 2px 2px;
	border-color:#bfbfbf;
	border-width: 1px;
	border-style: solid;
	
}

.text{
	
	border-color:#bfbfbf;
	border-width: 1px;
	border-style: solid;
	padding: 4px 0;
}

/*third div*/

.para{
	color: #000;
	font-size: 12px;
}
.title{
	color: red;
	font-size: 13px;
}
.title-zero{
	background: #79a4d2;
	color: #fff;
	font-size: 14px;
	padding: 2px 25px;
}

.title-one{
	background:  #79a4d2;
	color: #fff;
	font-size: 14px;
	padding: 2px 25px;
	margin-left: 12px;
}

.box{
	font-size: 12px;
}

.title-two{
	font-size: 12px;
	padding-top: 20px;
	padding-right: 10px;
	
}

/*fourth div*/

.title-three{
	font-size: 12px;
	padding-right: 10px;
	text-align: right;
}

.title-five{
	font-size: 12px;
	border-color:#bfbfbf;
	border-width: 1px;
	border-style: solid;
	padding: 2px 2px;
	margin-right: 2px;
	margin-top: 200px;
}

/*#gap::after{
  width: 2px;
  height: 2px;
  background:#bfbfbf;
  display: block;
  content: "";
  left:0;
  margin-top: 2px;
  
}
*/
/*fifth div*/

.header{
	background:  #79a4d2;
	color: #fff;
	font-size: 12px;
	padding: 2px 4px;
	margin-left: 4px;
}

#all{
	font-size: 12px;
	padding-right: 10px;
}

.space{
	margin-left: 12px;
}

#collect{
	border-color:#000;
	border-width: 1px;
	border-style: dotted;
	padding: 3px 4px;
	
}

.sample{
	font-size: 12px;
	padding-right: 10px;
}

#dash{
	border-color:#bfbfbf;
	border-width: 1px;
	border-style: solid;
}

/*responsive*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title-five{

	margin-left: 10px;
	margin-top: -10px;

}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 .title-five{
	margin-left: 10px;
	margin-top: -10px;

}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title-five{
  	margin-left: 10px;
	margin-top: 230px;

}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .title-five{
  	margin-left: 10px;
	margin-top: 200px;

}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
